@media screen and (min-width:1000px){
    #portfolio>div>div>p{
        font-size:2em;
    }
}
@media screen and (max-width: 600px){
    header div{
        padding-top: 30vw;
    }
    #whatWeDo div{
        width:100%;
        min-height:130px;
    }
    #portfolio>div{
        width: 50%;
    }
    #portfolio>div>div>p{
        font-size: 1.4em;
    }
    form input, form textarea{
        width: 100%;
        margin: 5px 0;
    }
    form input[type=submit]{
        width:auto;
        padding: 0 15%;
    }
}